body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
}

header {
    background-color: #333;
    padding: 15px;
    color: #fff;
    text-align: center;
}

.search-container {
    position: absolute;
    top: 0;
    right: 0;
    margin: 18px;
    margin-right: 28px;
}

.on-top{
    z-index: 5;
}

.search-container input[type=text] {
    padding: 8px 12px;
    margin-right: 5px;
    border: none;
    border-radius: 4px;
    background-color: #f2f2f2;
    font-size: 14px;
    width: 200px;
}

.search-container button[type=submit] {
    padding: 8px 12px;
    border: none;
    border-radius: 4px;
    color: white;
    cursor: pointer;
    width: 35px;
    height: 35px;
    top: -4px;
    position: relative;
    background-size: cover;
}

.search-container button[type=submit]:disabled, button[disabled] {
    cursor: not-allowed;
}

.search-container button[type=submit]:hover {
    background-color: #cccccc;
}

.search-container button[type=submit] i {
    font-size: 16px;
}


table {
    width: 80%;
    margin: 20px auto;
    border-collapse: collapse;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: #fff;
    overflow: hidden;
}

th, td {
    padding: 15px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

tbody tr:hover {
    background-color:bisque;
}

.selected-item {
    background-color:bisque;
}

.fs-item {
    cursor: pointer;
}

.nav-btn{
    width: 40px;
    height: 40px;
    border-radius: 3px;
    border: none;
    background-size: cover;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.nav-btn:hover{
    background-color: #cccccc;
}

.nav-btn:active{
    width: 36px;
    height: 36px;
}

.upload-ico{
    background-image: url('/icons/upload.png');
}

.create-folder-ico{
    background-image: url('/icons/create-folder.png');
}

.delete-ico{
    background-image: url('/icons/delete.png');
}

.cross-ico{
    background-image: url('/icons/cross.png');
}

#remove-select-btn{
    position: absolute;
    left: 15px;
    top: auto;
}

.edit-ico{
    background-image: url('/icons/edit.png');
}

.recover-ico{
    background-image: url('/icons/recover.png');
}

.delete-all-ico{
    background-image: url('/icons/delete-all.png');
}

.search-ico{
    background-image: url('/icons/search.png');
}

.neuro-ico{
    background-image: url('/icons/neuro.png');
}

.nav-menu-ico{
    background-image: url('/icons/menu.png');
}

.disp-none{
    display: none;
}

.wide-block{
    width: 80%;
}

input.wide-block{
    width: 100%;
}

.parent-info{
    color: #494949;
    font-size: smaller;
    margin: 0;
    white-space: nowrap; 
    overflow: hidden; 
    text-overflow: ellipsis;
}

.search-form {
    background: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    margin: 25px;
    margin-top: 70px;
    height: 80%;
    width: 100%;
    overflow: auto;
}

p {
    word-break: break-all;
    white-space: pre-wrap;
}
  
.search_res {
    padding: 5px;
}

.loading-spinner {
    display: none;
    border: 4px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    border-top: 4px solid #3498db;
    width: 30px;
    height: 30px;
    animation: spin 1s linear infinite;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -15px;
    margin-left: -15px;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}