<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link th:href="@{/fileExplorer.css}" rel="stylesheet" />
    <link th:href="@{/addFile.css}" rel="stylesheet" />
    <!-- <link href="../static/fileExplorer.css" rel="stylesheet" /> -->
    <!-- <link href="../static/addFile.css" rel="stylesheet" /> -->
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
</head>
<body onload="start()">
<header class="header">
    <div>
        <button class="nav-btn upload-ico" id="upload-btn" onclick="showForm('upload_overlay')"></button>
        <button class="nav-btn create-folder-ico" id="create-folder-btn" onclick="showForm('create_folder_overlay')"></button>
        <button class="nav-btn delete-ico disp-none" id="delete-btn" onclick="showForm('delete_overlay')" ></button>
        <button class="nav-btn cross-ico disp-none" id="remove-select-btn" onclick="removeSelection()" ></button>
        <button class="nav-btn edit-ico disp-none" id="rename-btn" onclick="showForm('rename_overlay')" ></button>
    </div>
</header>

<div id="upload_overlay" class="overlay">
    <div id="upload-form" class="form">
        <span id="close-btn" class="close-btn" onclick="closeForm(this.parentElement.parentElement.id)">&times;</span>
        <h2>Загрузка файла</h2>
        <form id="uploadFileForm" class="form" enctype="multipart/form-data">
            <input type="file" name="file" id="fileInput" required>
            <br>
            <input type="button" value="Загрузить" onclick="uploadFile()">
        </form>
    </div>
</div>

<div id="create_folder_overlay" class="overlay">
    <div id="create-folder-form" class="form">
        <span id="close-btn" class="close-btn" onclick="closeForm(this.parentElement.parentElement.id)">&times;</span>
        <h2>Создать папку</h2>
        <form id="createFolderForm" class="form">
            <input type="text" name="folder_name" value="Новая папка" id="folderName" required>
            <br>
            <input type="button" value="Создать" onclick="addFolder()">
        </form>
    </div>
</div>

<div id="rename_overlay" class="overlay">
    <div id="rename" class="form wide-block">
        <span id="close-btn" class="close-btn" onclick="closeForm(this.parentElement.parentElement.id)">&times;</span>
        <h2>Переименовать</h2>
        <form id="rename-form" class="form">
            <input type="text" name="new_name" value="" class="wide-block" id="new_name" required>
            <br>
            <input type="button" value="Ок" onclick="rename()">
        </form>
    </div>
</div>

<div id="delete_overlay" class="overlay">
    <div id="delete-form" class="form">
        <span id="close-btn" class="close-btn" onclick="closeForm(this.parentElement.parentElement.id)">&times;</span>
        <h2>Удалить элементы: <span id="delete-count"></span>?</h2>
        <div class="button-container">
            <input type="button" value="Нет" onclick="closeForm(this.parentElement.parentElement.parentElement.id)">
            <input type="button" value="Да" onclick="deleteItems()">
        </div>
    </div>
</div>

<table>
    <thead>
        <tr>
            <td>
                Тип
            </td>
            <td>
                Имя файла
            </td>
        </tr>
    </thead>
    <tbody id="tbody">

    </tbody>
</table>

</body>
</html>

<script>
    let selectedRows = [];
    function start() {
        ajaxRequest(null);
    }

    $('#create-folder-form').submit(function(event) {
        event.preventDefault();
        addFolder();
    });

    $('#rename-form').submit(function(event) {
        event.preventDefault();
        rename();
    });

    function ajaxRequest(path){
        $.ajax({
          url: '/api/get_files',
          dataType:'json',
          type:'GET',
          data: {"path":path },
          success: function (data) {
            showData(data);
          },
          error: function (data) {
            console.error('Error:', data);
          }
        });
    }

    function showData(data) {
        removeSelection();
        const tbody = document.getElementById("tbody");
        $('tbody').empty();

        if(data.length != 0){
            if(data[0].parent != null){
                let newPath = data[0].parent.substring(0, data[0].parent.lastIndexOf('\\'));
                let row = addRow('..', "DIR", newPath, "");
                row.setAttribute('boynextdoor', '1');
                tbody.append(row);
            }
            tbody.setAttribute("parent", data[0].parent) + '\\';
        }

        data.forEach(element => {
            if(element.fileType != "PARSED" && element.fileType != "SHADOW"){
                let row = addRow(element.name, element.fileType, element.path, element.parent); 
                tbody.append(row);
            }
        });
    }

    function addRow(name, fileType, path, parent){
        const row = document.createElement('tr');
                const fileName = document.createElement("td");
                fileName.innerHTML = name;
                const extension = document.createElement("td");
                extension.innerHTML = fileType;
                row.setAttribute("path", path);
                row.setAttribute("class", "fs-item");
                if(fileType == "DIR"){
                    row.setAttribute("ondblclick", "openDir(this)");
                }

                if(fileType == "FILE"){
                    row.setAttribute("ondblclick", "downloadFile(\"" + path.replace(/[.*+?^${}()|[\]\\]/g, '\\$&') + "\")");
                }

                row.setAttribute("onclick", "rowClick(event)");

                row.append(extension);
                row.append(fileName);
        
        return row;
    }

    function openDir(element){
        ajaxRequest(element.getAttribute("path"));
    }

    function showForm(name) {
        document.getElementById(name).style.display = 'flex';
        if(name == "delete_overlay"){
            document.getElementById("delete-count").innerText = selectedRows.length;
        }
        if(name == "rename_overlay"){
            document.getElementById('new_name').value = selectedRows[0].cells[1].innerText;
        }
    }

    function showButton(name) {
        document.getElementById(name).style.display = "inline";
    }

    function hideButton(name) {
        document.getElementById(name).style.display = "none";
    }


    function closeForm(name) {
        document.getElementById(name).style.display = 'none';
    }

    function rowClick(event){
        let target = event.target;
        if (target.tagName === "TD") {
                var row = target.parentElement;
                if(row.getAttribute('boynextdoor')) return;
                // Переключаем состояние выделения строки
                if (row.classList.contains("selected-item")) {
                    row.classList.remove("selected-item");
                    // Удаляем элемент из массива выделенных, если он был выделен
                    var index = selectedRows.indexOf(row);
                    if (index !== -1) {
                        selectedRows.splice(index, 1);
                    }
                    if(selectedRows.length == 0){
                        hideButton("delete-btn");
                        hideButton("remove-select-btn");
                        hideButton("rename-btn");
                    }
                    if(selectedRows.length == 1){
                        showButton("rename-btn");
                    }
                } else {
                    row.classList.add("selected-item");
                    showButton("delete-btn");
                    showButton("remove-select-btn");

                    // Добавляем элемент в массив выделенных
                    selectedRows.push(row);

                    if(selectedRows.length == 1){
                        showButton("rename-btn");
                    }
                    else{
                        hideButton("rename-btn");
                    }
                }
        }
    }

    function removeSelection(){
        selectedRows.forEach(element => {
            if (element.classList.contains("selected-item")) {
                element.classList.remove("selected-item");
            }
        });
        selectedRows = [];
        hideButton("delete-btn");
        hideButton("remove-select-btn");
        hideButton("rename-btn");
    }

    function deleteItems(){
        closeForm("delete_overlay");
        
        let files = [];
        selectedRows.forEach(element => {
            files.push(element.getAttribute("path"));
        })


        var options = {
            method: 'DELETE',
            headers: {
                    'Content-Type': 'application/json',
                },
            body: JSON.stringify(files)
        };

        fetch('/api/delete_items', options)
            .then(response => {
                if (!response.ok) {
                    throw new Error('Ошибка при отправке данных на сервер');
                }
                let parent = document.getElementById("tbody").getAttribute("parent");
                if(parent == "null") ajaxRequest("");
                else ajaxRequest(parent);
                return response.text();
            })
            .then(responseText => {
                console.log(responseText);
            })
            .catch(error => {
                console.error(error);
            });

        removeSelection();
        
    }

    function uploadFile() {
        // Получаем форму и ее данные
        var form = document.getElementById("uploadFileForm");
        var formData = new FormData(form);

        // Получаем значение атрибута parent у tbody
        var parentAttribute = document.getElementById("tbody").getAttribute("parent");

        // Проверяем, было ли передано место для сохранения файла
        if (parentAttribute == "null") {
            formData.append("destination", null);  
        }
        else{
            formData.append("destination", parentAttribute + '\\');
        }


        // Опции запроса
        var options = {
            method: 'POST',
            body: formData
        };

        // Замените URL на ваш API endpoint
        var apiUrl = '/api/upload';

        // Отправляем запрос с использованием Fetch API
        fetch(apiUrl, options)
            .then(response => {
                if (response.ok) {
                    return response.text();
                } else {
                    throw new Error('Ошибка загрузки файла');
                }
            })
            .then(data => {
                // Обработка успешного ответа
                console.log(data);
                closeForm('upload_overlay');
                if(parentAttribute == "null") ajaxRequest("");
                else ajaxRequest(parentAttribute);
            })
            .catch(error => {
                // Обработка ошибок
                console.error('Произошла ошибка:', error.message);
            });
    }

    function addFolder() {
        // Получаем форму и ее данные
        var form = document.getElementById("createFolderForm");
        var formData = new FormData(form);

        // Получаем значение атрибута parent у tbody
        var parentAttribute = document.getElementById("tbody").getAttribute("parent");

        // Проверяем, было ли передано место для сохранения файла
        if (parentAttribute == "null") {
            formData.append("destination", null);  
        }
        else{
            formData.append("destination", parentAttribute);
        }


        // Опции запроса
        var options = {
            method: 'POST',
            body: formData
        };

        // Замените URL на ваш API endpoint
        var apiUrl = '/api/create_folder';

        // Отправляем запрос с использованием Fetch API
        fetch(apiUrl, options)
            .then(response => {
                if (response.ok) {
                    return response.text();
                } else {
                    if(response.status==400){
                        alert("Папка уже существует")
                    }
                    throw new Error('Ошибка создания папки');
                }
            })
            .then(data => {
                // Обработка успешного ответа
                console.log(data);
                closeForm('create_folder_overlay');
                if(parentAttribute == "null") ajaxRequest("");
                else ajaxRequest(parentAttribute);
            })
            .catch(error => {
                // Обработка ошибок
                console.error('Произошла ошибка:', error.message);
            });
    }

    function rename(){
        // Получаем форму и ее данные
        var form = document.getElementById("rename-form");
        var formData = new FormData(form);

        formData.append("destination", selectedRows[0].getAttribute("path"));
        
        var parentAttribute = document.getElementById("tbody").getAttribute("parent");

        // Опции запроса
        var options = {
            method: 'PUT',
            body: formData
        };

        // Замените URL на ваш API endpoint
        var apiUrl = '/api/rename';

        let name = formData.get("new_name");
        let dest = formData.get("destination");

        // Отправляем запрос с использованием Fetch API
        fetch(apiUrl, options)
            .then(response => {
                if (response.ok) {
                    return response.text();
                } else {
                    if(response.status==400){
                        alert("Недопустимое имя")
                    }
                    if(response.status==423){
                        alert("Отказано в доступе")
                    }
                    throw new Error('Ошибка переименования.');
                }
            })
            .then(data => {
                // Обработка успешного ответа
                console.log(data);
                closeForm('rename_overlay');
                if(parentAttribute == "null") ajaxRequest("");
                else ajaxRequest(parentAttribute);
            })
            .catch(error => {
                // Обработка ошибок
                console.error('Произошла ошибка:', error.message);
            });
    }


    async function downloadFile(filePath){
      
        try {

            const params = new URLSearchParams();
            params.append('path', filePath);

            const response = await fetch(`/api/download_file?${params.toString()}`);
            
            if (response.ok) {
                
                const fileName = filePath.substring(filePath.lastIndexOf('\\') + 1);

                const blob = await response.blob();

                const link = document.createElement('a');
                link.href = window.URL.createObjectURL(blob);
                link.download = fileName;
                link.click();

                console.log('Файл скачен: ', fileName);
            } else {
                console.error('Не удалось загрузить файл:', response.statusText);
            }
        } catch (error) {
            console.error('При загрузке файла произошла ошибка:', error);
        }
    }

</script>