<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link th:href="@{/fileExplorer.css}" rel="stylesheet" />
    <link th:href="@{/addFile.css}" rel="stylesheet" />
    <!-- <link href="../static/fileExplorer.css" rel="stylesheet" /> -->
    <!-- <link href="../static/addFile.css" rel="stylesheet" /> -->
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
</head>
<body onload="start()">
<header class="header">
    <div><button class="" onclick="showUploadForm()">Загрузить файл</button></div>
</header>

<div id="overlay">
    <div id="upload-form">
        <span id="close-btn" onclick="closeUploadForm()">&times;</span>
        <h2>Загрузка файла</h2>
        <form id="uploadFileForm" action="/api/upload" method="post" enctype="multipart/form-data">
            <input type="file" name="file" id="fileInput" required>
            <br>
            <input type="button" value="Загрузить" onclick="uploadFile()">
        </form>
    </div>
</div>

<table>
    <thead>
        <tr>
            <td>
                Тип
            </td>
            <td>
                Имя файла
            </td>
        </tr>
    </thead>
    <tbody id="tbody">

    </tbody>
</table>

</body>
</html>

<script>
    function start() {
        ajaxRequest(null);
    }

    function ajaxRequest(path){
        $.ajax({
          url: '/api/get_files',
          dataType:'json',
          type:'GET',
          data: {"main_path":path },
          success: function (data) {
            showData(data);
          },
          error: function (data) {
            console.error('Error:', data);
          }
        });
    }

    function showData(data) {
        let index = 1;
        const tbody = document.getElementById("tbody");
        $('tbody').empty();

        if(data.length != 0){
            if(data[0].parent != null){
                let newPath = data[0].parent.substring(0, data[0].parent.lastIndexOf('\\'));
                tbody.append(addRow('..', "DIR", newPath, ""));
            }
            tbody.setAttribute("parent", data[0].parent) + '\\';
        }

        data.forEach(element => {
            if(element.fileType != "PARSED" && element.fileType != "SHADOW"){
                let row = addRow(element.name, element.fileType, element.path, element.parent); 
                tbody.append(row);
            }
        });
    }

    function addRow(name, fileType, path, parent){
        const row = document.createElement('tr');
                const fileName = document.createElement("td");
                fileName.innerHTML = name;
                const extension = document.createElement("td");
                extension.innerHTML = fileType;
                row.setAttribute("path", path);
                row.setAttribute("class", "fs-item");
                if(fileType == "DIR"){
                    row.setAttribute("ondblclick", "openDir(this)");
                }

                row.append(extension);
                row.append(fileName);
        
        return row;
    }

    function openDir(element){
        ajaxRequest(element.getAttribute("path"));
    }

    function showUploadForm() {
        let form = document.getElementById('overlay');
        form.style.display = 'flex';
    }

    function closeUploadForm() {
        document.getElementById('overlay').style.display = 'none';
    }

    function uploadFile() {
        // Получаем форму и ее данные
        var form = document.getElementById("uploadFileForm");
        var formData = new FormData(form);

        // Получаем значение атрибута parent у tbody
        var parentAttribute = document.getElementById("tbody").getAttribute("parent") + '\\';

        // Проверяем, было ли передано место для сохранения файла
        if (parentAttribute == "null") {
            formData.append("destination", null);  
        }
        else{
            formData.append("destination", parentAttribute);
        }

        // Добавляем значение атрибута parent к formData в качестве destination

        // Опции запроса
        var options = {
            method: 'POST',
            body: formData
        };

        // Замените URL на ваш API endpoint
        var apiUrl = '/api/upload';

        // Отправляем запрос с использованием Fetch API
        fetch(apiUrl, options)
            .then(response => {
                if (response.ok) {
                    return response.text();
                } else {
                    throw new Error('Ошибка загрузки файла');
                }
            })
            .then(data => {
                // Обработка успешного ответа
                console.log('Файл успешно загружен:', data);
                closeUploadForm();
                if(parentAttribute == "null") ajaxRequest();
                else ajaxRequest(parentAttribute);
            })
            .catch(error => {
                // Обработка ошибок
                console.error('Произошла ошибка:', error.message);
            });
    }
</script>