<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link th:href="@{/styles.css}" rel="stylesheet" />
</head>
<body>

<div class="d1">
    <form method="GET" th:action="@{/search}">
        <input name="search_param" placeholder="Искать здесь..." th:value="${search_param}" type="search">
        <button type="submit"></button>
    </form>
</div>


<div th:if="${search_result}">
    <p th:text="${search_result}"></p>
</div>

<div th:if="${message}">
    <p th:text="${message}"></p>
</div>

</body>
</html>