<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link th:href="@{/styles.css}" rel="stylesheet" />
</head>
<body>

<div class="d1">
    <form method="GET" th:action="@{/search}">
        <input name="search_param" placeholder="Искать здесь..." th:value="${search_param}" type="search">
        <button type="submit"></button>
    </form>
</div>

<div th:if="${message}">
    <p th:text="${message}"></p>
</div>


<div th:each="result : ${search_result}" class="search_res">
    <p>Имя файла: <span th:text="${result.FileName}"></span></p>
    <details>
        <summary>Краткий ответ: <span th:text="${result.Answer}"></span></summary>
        <p th:text="${result.PageText}"></p>
    </details>
    <p>Вероятность: <span th:text="${result.Coincidence}"></span></p>
</div>

</body>
</html>