<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link th:href="@{/styles.css}" rel="stylesheet" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PDF Viewer</title>
    
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>

    <script src="/static/pdfjs-dist/build/pdf.mjs" type="module"></script>
    <script src="/static/pdfjs-dist/web/viewer.mjs" type="module"></script>

    <link rel="stylesheet" href="/static/pdfjs-dist/web/viewer.css">
</head>
<body>
  
    <canvas id="pdfCanvas"></canvas>

    <input type="text" id="searchInput" placeholder="Search...">
    <button onclick="search()">Search</button>
    
    <script>
    let pdfDocument = null;
    let pageNumber = 5;

    document.addEventListener("DOMContentLoaded", function() {
      //Setting URL of the PDF document that you want to render
      const url = '../storage/ГОСТ 19.106-78.pdf';

      var { pdfjsLib } = globalThis;
      pdfjsLib.GlobalWorkerOptions.workerSrc = '/static/pdfjs-dist/build/pdf.worker.mjs';
      
      // Rendering the PDF on the canvas
      pdfjsLib.getDocument(url).promise.then(pdf => {
          // Loading the first page of the PDF
          pdfDocument = pdf;
          return pdf.getPage(pageNumber);
        }).then(page => {
        
          // Setting the PDF zoom level to 100% by setting scale to 1
          const viewport = page.getViewport({ scale: 1 });
        
          // Prepare canvas using PDF page dimensions
          const canvas = document.getElementById("pdfCanvas");
          const context = canvas.getContext("2d");
          canvas.height = viewport.height;
          canvas.width = viewport.width;
        
          // Render PDF page into canvas context
          const renderContext = {
            canvasContext: context,
            viewport: viewport,
          };
        
          return page.render(renderContext);
        });
    });

    

    function search() {
    const searchText = document.getElementById('searchInput').value.toLowerCase().trim().replace(/[.,\/#!$%\^&\*;:{}=\-_`~()]/g,"");;

    // Exit if no text entered
    if (!searchText) return;

    // Remove previous highlights
    const previousHighlights = document.querySelectorAll('.highlight');
    previousHighlights.forEach(highlight => highlight.remove());

    // Perform search
    pdfDocument.getPage(pageNumber).then(function(page) {
        page.getTextContent().then(function(textContent) {
            searchedItems = [];

            textContent.items.forEach(function(item) {
                const text = item.str.toLowerCase().trim();
                let searchTerms = searchText.split(" ");
                searchTerms.forEach(function(searchItem){
                    
                    if (text == searchItem) {
                        searchedItems.push(item);
                    }

                });
            });
            

            searchedItems.forEach(function(item){
                const textLayerDiv = document.createElement('div');
                textLayerDiv.classList.add('highlight');
                textLayerDiv.style.position = 'absolute';
                textLayerDiv.style.left = (item.transform[4]) + 'px';
                textLayerDiv.style.bottom = (item.transform[5] - 117) + 'px';
                textLayerDiv.style.width = item.width + 'px';
                textLayerDiv.style.height = item.height + 'px';
                textLayerDiv.style.backgroundColor = 'rgba(255, 255, 0, 0.5)';
                document.getElementById('pdfCanvas').parentNode.appendChild(textLayerDiv);
            });
        });
    });
}
    </script>
    
  </body>
  </html>