<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link th:href="@{/styles.css}" rel="stylesheet" />
    <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/viewerjs/1.7.1/viewer.min.css"> -->
</head>
<body>

    <a href="/ViewerJS/#../storage/ГОСТ 19.104-78.pdf">хуй</a>

    <iframe src="/storage/ГОСТ 19.104-78.pdf" width="100%" height="100%" frameborder="0"></iframe>
    <!-- <div id="document-preview">
        <a href="/ViewerJS/#../storage/ГОСТ 19.104-78.pdf">хуй</a>
        <img src="/storage/ГОСТ 19.104-78.pdf" alt="Document" data-src="/storage/ГОСТ 19.104-78.pdf">
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/viewerjs/1.7.1/viewer.min.js"></script>
    <script>
        const viewer = new Viewer(document.getElementById('document-preview'), {
            inline: false,
            viewed() {
                viewer.zoomTo(1);
            }
        });
    </script> -->
</body>
</html>